html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
}

.navbar {
  background: indigo;
  display: flex;
  justify-content: space-between;
}

.navbar > .buttons > button {
  text-transform: uppercase;
  border: none;
  padding: 0.5em 1em;
  background: #fff;
}
.navbar > .buttons {
  padding: 1em;
}

nav a {
  text-decoration: none;
  padding: 1em;
  color: #fff;
}

main {
  padding: 1em;
}
