html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  /* justify-content: space-around; */
  /* widows: 100%; */
  background: indigo;
}
nav a {
  text-decoration: none;
  padding: 1em;
  color: #fff;
}

main {
  padding: 1em;
}
